
html { scroll-behavior: smooth; }
*, *::before, *::after { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body {
  font-family: 'Lucida Sans','Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: rgb(100, 1, 30);;
  position: relative;
  overflow-x: hidden; /* evita scroll horizontal fantasma */
}
img, video { display:block; max-width:100%; height:auto; }
a { color: rgb(1, 1, 50); text-decoration: none; }
:root{
  --space: clamp(12px, 2vw, 24px);
  --h1: clamp(28px, 5vw, 48px);
  --h2: clamp(22px, 3.2vw, 32px);
  --p:  clamp(14px, 1.6vw, 18px);
  --gap: 1.25rem;
  --panelBorder: rgba(255,255,255,.12);
  --brand-dark: rgb(1, 1, 50);
  --brand-accent: rgb(100, 1, 30);
}

h1{ font-size: var(--h1); }
h2{ font-size: var(--h2); }
p, a, li, button, input, textarea{ font-size: var(--p); }
section{ padding: calc(var(--space)*2) var(--space); }

.news {
  text-align: left; z-index: 1;
  padding: 0 2rem 2rem 2rem;
  background-color: var(--brand-accent);
}
.news img{
    display: block;             
    margin: 1rem auto 1.5rem auto; 
    width: 30vw; 
    height: auto;

    object-fit: cover;
    object-position: center top; 
}

.news h2 { padding-top: 2rem; font-size: 2.5rem; color: rgb(255, 246, 227); }
.news-container { display: flex; flex-direction: column; justify-content: center; }
.news-card{
  position: relative; border-radius: 12px; overflow: hidden;
  background-color: var(--brand-dark);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  margin: 1rem 0;
}
.news-card img{
  width: 100%; height: auto; border-radius: 12px; margin: 0 0 1rem 0;
  object-fit: cover; object-position: top;
}
.news-card .news-texto{
  position: relative; margin: 0;
}
.news-card .news-texto h3{
  margin: 0 0 .5rem 0; font-size: 1.2rem; color: rgb(255, 246, 227);
  text-align: left; text-shadow: none;
}
.news-card .news-texto p{
  margin: 0; font-size: 0.95rem; color: rgb(255, 246, 227);
  text-align: left; text-shadow: none;
}

footer {
  text-align: center;
  padding: 1rem;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
  color: rgb(1, 1, 50);
}
@media (min-width: 768px) {
  img {
    width: 15vw;
  }
}